{% extends "header_footer.html" %}

{% block description %}Course details at Dept. of CSE, KU{% endblock %}

{% block title %}KUCSE - Courses{% endblock %}

{% block content %}

<h1>Courses</h1>

<p>
    The department offers the following courses :
<ul>
    <li>Master of Computer Application</li>
    <li>Bachelor of Technology (CSE)</li>
    <li>Master of Technology (CSE)</li>
    <li>Master of Science (Computer Science)</li>
    <li>Master of Science (Data Science)</li>
    <li>Ph.D. (Computer Science and Engineering)</li>
</ul>
</p>


<h2>Master of Computer Application</h2>
<ul>
    <li> <b>Duration :</b> 2 years (4 semesters)</li>
    <li> <b>Intake :</b> 30 students</li>
    <li> <b>Admission Process :</b> Through JECA exam</li>
    <li> <b>Eligibility :</b> BCA/B.Sc. or equivalent degree with Mathematics in all levels of education. </li>
    <li> <b><a href="syllabus_files/MCA.pdf">Syllabus</a></b> </li>
</ul>

<h2>Bachelor of Technology (CSE)</h2>
<ul>
    <li> <b>Duration :</b> 4 years (8 semesters)</li>
    <li> <b>Intake :</b> 30 students</li>
    <li> <b>Admission Process :</b> Through WBJEE exam</li>
    <li> <b>Eligibility :</b> 10+2 with Physics, Chemistry and Mathematics. </li>
    <li> <b><a href="syllabus_files/BTech CSE.pdf">Syllabus</a></b> </li>
</ul>

<h2>Master of Technology (CSE)</h2>
<ul>
    <li> <b>Duration :</b> 2 years (4 semesters)</li>
    <li> <b>Intake :</b> 18 students</li>
    <li> <b>Admission Process :</b> Through written test and/or interview. GATE score is preferred.</li>
    <li> <b>Eligibility :</b> B.E./B.Tech./MCA/M.Sc. or equivalent degree in Computer Science & Engineering or related
        fields. </li>
    <li> <b><a href="syllabus_files/MTech CSE.pdf">Syllabus</a></b> </li>
</ul>

<h2>Master of Science (CSE)</h2>
<ul>
    <li> <b>Duration :</b> 2 years (4 semesters)</li>
    <li> <b>Intake :</b> 20 students</li>
    <li> <b>Admission Process :</b> Through written test.</li>
    <li> <b>Eligibility :</b> BCA/B.Sc.(Hons) in Computer Science. </li>
    <li> <b><a href="syllabus_files/MSc CS.pdf">Syllabus</a></b> </li>
</ul>

<h2>Master of Science (Data Science)</h2>
<ul>
    <li> <b>Duration :</b> 2 years (4 semesters)</li>
    <li> <b>Intake :</b> 35 students</li>
    <li> <b>Admission Process :</b> Through written test and/or interview.</li>
    <li> <b>Eligibility :</b> B.Sc.(Hons) or equivalent degree in any discipline with Mathematics as a subject in each
        level of education. </li>
    <li> <b><a href="syllabus_files/MSc DS.txt">Syllabus</a></b> </li>
</ul>

<h2>Ph.D. (CSE)</h2>
<ul>
    <li> <b>Duration :</b> 4-5 Years (Approx)</li>
    <li> <b>Admission Process :</b> Through written test and interview.</li>
    <li> <b>Eligibility :</b> MCA/M.Tech. in Computer Science & Engineering or related fields. </li>
    <li> <b><a href="syllabus_files/PhD CS.pdf">Syllabus</a></b> </li>
</ul>




{% endblock %}