{% extends "header_footer.html" %}

{% block description %}Highlights - Dept. of CSE, KU.{% endblock %}

{% block title %}KUCSE - Highlights{% endblock %}

{% block content %}


<h1>Highlights</h1>

<ul>

    <li>Three-month Certificate Course on Scientific Writing under RUSA Component 10 (Entrepreneurship & Career Hub),
        December 2021 – March 2022.
    </li>

    <li>6th International Conference on Emerging Applications of Information Technology (EAIT 2020), February 25-27,
        2021.
    </li>

    <li>One-week Workshop on Scientific Writing, April 22-26, 2019
    </li>

    <li>First International Conference on Intelligent Computing and Communication (ICIC2-2016), February 18-19, 2016.
    </li>

    <li>Second International Conference on Information Systems Design and Intelligent Applications (INDIA-2015), January
        8-9, 2015.
    </li>

    <li>Dr. Anirban Mukhopadhyay, Associate Professor has been awarded INAE Young Engineer Award 2014.</li>

    <li>First International Conference on Computational Intelligence: Modeling, Techniques and Applications
        (CIMTA-2013), September 27-28, 2013.
    </li>

    <li>Workshop on “Computational Methodologies and Applications (CMA 2013)” jointly organized with the Dept. of
        Computer Science & Technology, Bengal Engineering and Science University, Shibpur, West Bengal under Statewide
        University Network (SUN) project of Govt. of West Bengal during April 22-23, 2013.
    </li>

    <li>Mr. Malay Bhattacharyya, Assistant Professor, has received Indian Science Congress Association (ISCA) Young
        Scientist Award 2013-14 in Information and Communication Science & Technology (including Computer Science)
        section</li>

    <li>Dr. Anirban Mukhopadhyay, Associate Professor, has been selected for Institution of Engineers, India (IEI) Young
        Engineers Award 2013-14 in Computer Engineering Discipline.</li>

    <li>Ms. Madhumita Sengupta, the scholar of Prof. J. K. Mandal received the award of most Active Participant – Woman
        Member of CSI 2012-13.</li>

    <li>Biography of Prof. Jyotsna Kumar Mandal has been included in Marquis Who’s Who in the World 2014 (31st Edition),
        USA (published in November 2013).</li>

    <li>Dr. Anirban Mukhopadhyay received DAAD scholarship for research stay of 2 months at University of Goettingen,
        Germany during May-June 2013.</li>

    <li>Dr. Anirban Mukhopadhyay and his scholar Monalisa Mandal have received second best paper award in International
        Conference BIC-TA 2012 held at Gwalior, India in December 2012.</li>

    <li>Dr. Priya Ranjan Sinha Mahapatra visited Chennai Mathematical Institute (CMI) for research collaboration in
        December 2012.</li>

    <li>Dr. Anirban Mukhopadhyay and his scholar Monalisa Mandal received special paper award in International
        Conference PDGC 2012 held at Solan, India in December 2012.</li>

    <li>Prof. J. K. Mandal has received the prestigious Bharat Jyoti Award 2012 from India International Friendship
        Society.</li>

    <li>The International Publishing House, Delhi, India conferred “The Best Citizen of India Award 2012” to Prof.
        Jyotsna Kumar Mandal in November 2012.</li>

    <li>Mr. Malay Bhattacharyya received the best reviewer award in the 7th International Conference on Digital
        Information Management (ICDIM) held in Macau, China during August 22-24, 2012.</li>

    <li>Malay Bhattacharyya won Travel Fellowship for Developing Nations from International Society for Computational
        Biology (ISCB) for attending the 8th ISCB Student Council Symposium 2012 (SCS8) held in Long Beach, California,
        USA on July 13, 2012.</li>

    <li>Mr. Malay Bhattacharyya became the co-runner Up Award from NextBio for the Research Travel Grant 2012.</li>

    <li>Dr. Anirban Mukhopadhyay has been promoted to the IEEE Senior member grade in December 2011.</li>

    <li>Dr. Anirban Mukhopadhyay attended International Conference IEEE SSCI-2011 held in Paris, France in April 2011.
    </li>

    <li>Malay Bhattacharyya won Travel Grant from Association for Computing Machinery (ACM) for attending the XRDS
        Annual Editorial Board Meeting held at the ACM Headquarters, New York, USA on November 18, 2011.</li>

    <li>Malay Bhattacharyya won Travel Grant Award from Federation of European Neuroscience Societies (FENS) for
        attending the SiNAPSA Neuroscience Conference held in Ljubljana, Slovenia during September 22-25, 2011.</li>

    <li>Malay Bhattacharyya won International Travel Grant from Indian Statistical Institute, Kolkata, India for
        attending the 4th International Conference on Pattern Recognition and Machine Intelligence, Moscow, Russia,
        during June 27-July 01, 2011.</li>

    <li>Dr. Priya Ranjan Sinha Mahapatra Visited University of Cantabria, Santander, Spain to attend the International
        Conference ICCSA in 2011.</li>

    <li>Dr. Anirban Mukhopadhyay visited I3S Laboratory, University of Nice Sophia-Antipolis, France as a visiting
        professor for one month during April-May 2011.</li>

    <li>Workshop for computer training of School teachers (A programme of Ministry of Information Technology, Govt. of
        West Bengal), September-December 2010.
    </li>

    <li>Dr. Utpal Biswas received the Erasmus Mundus scholarship for visiting professorship at University of Goettingen,
        Germany for three months in 2010.</li>

    <li>Dr. Anirban Mukhopadhyay attended the International Conference AIA-2010 held at Innsbruck, Austria in February
        2010.</li>

    <li>Dr. Anirban Mukhopadhyay received Erasmus Mundus post-doctoral scholarship during 2009-10 at University of
        Heidelberg and German Cancer Research Center, Heidelberg, Germany.</li>

    <li>Biography of Dr. Anirban Mukhopadhyay has been included in Marquis Who’s Who in the World 2009.</li>

    <li>Dr. Priya Ranjan Sinha Mahapatra visited Carleton University, Canada in 2007 to attend International Conference
        CCCG-2007.</li>
</ul>



{% endblock %}