{% extends "header_footer.html" %}

{% block description %}Dept. of CSE, University of Kalyani.{% endblock %}

{% block title %}Dept. of CSE, KU{% endblock %}

{% block content %}

<h1>welcome to the department.</h1>

<img class="deptimg" src="static/dept.png" alt="Department Image">
<p>
    The Department of Computer Science and Engineering is relatively new compared to other departments in the
    University, having been established in 1992. It initially operated out of the Department of Physics, and offered a
    Postgraduate Diploma in Computer Applications (PGDCA) course. In the upcoming years, the department moved to its
    own building (in 2002) and began offering MCA and MTech courses (from 2001 and 2003 respectively).
</p>
<p>
    The Department has since expanded to offer PhD, BTech (CSE), MSc (Data Science), and MSc (Computer Science)
    courses in its renovated premises. It features three computer labs equipped with modern systems and
    networking capabilities, a VLSI laboratory, and other facilities, along with smart classrooms for effective
    teaching.
</p>

<p>The Department organizes several seminars, workshops, and events throughout the year, including <b>Voyage</b> - the
    annual
    departmental reunion, freshers, and farewell event.</p>

<p>The Department is committed to providing quality higher education in the field of computer science. Moreover, new
    horizons are explored through ongoing research into various specialties in this field, guided by our eminent
    faculty.</p>

<p>For further information you may also visit : <br>
    <a href="https://klyuniv.ac.in/academic/faculties/faculty-of-engineering-technology-management/department-of-computer-science-and-engineering/"
        rel="noopener noreferrer">University of Kalyani - Department of Computer Science and Engineering</a>
</p>

{% endblock %}