{% extends "header_footer.html" %}

{% block description %}People - Dept. of CSE, KU.{% endblock %}

{% block title %}KUCSE - People{% endblock %}

{% block content %}

<h1>People</h1>

<h2>Faculty</h2>

<ul>
        <li>Prof. Dr. Kalyani Mali (HOD) &bull; <a href="https://klyuniv.ac.in/professors/kalyani-mali/" target="_blank"
                        rel="noopener noreferrer">details</a>
        </li>
        <li>Prof. Dr. Priya Ranjan Sinha Mahapatra &bull; <a
                        href="https://klyuniv.ac.in/professors/dr-priya-ranjan-sinha-mahapatra/" target="_blank"
                        rel="noopener noreferrer">details</a>
        </li>
        <li>Prof. Dr. Utpal Biswas &bull; <a href="https://klyuniv.ac.in/professors/utpal-biswas/" target="_blank"
                        rel="noopener noreferrer">details</a>
        </li>
        <li>Prof. Dr. Anirban Mukhopadhyay &bull; <a href="https://klyuniv.ac.in/professors/a-mukhopadhyay/"
                        target="_blank" rel="noopener noreferrer">details</a>
        </li>
        <li>Prof. Dr. Jyotsna Kumar Mandal &bull; <a href="https://klyuniv.ac.in/professors/jyostna-kumar-mandal/"
                        target="_blank" rel="noopener noreferrer">details</a>
        </li>
        <li>Dr. Debarata Sarddar, Asst. Prof. &bull; <a href="https://klyuniv.ac.in/professors/debabrata-sarddar/"
                        target="_blank" rel="noopener noreferrer">details</a>
        </li>
        <li>Mr. Sukanta Majumder, Asst. Prof.&bull; <a href="https://klyuniv.ac.in/professors/sukanta-majumder/"
                        target="_blank" rel="noopener noreferrer">details</a>
        </li>
        <li>Mr. Jaydeep Paul, Asst. Prof. (Cont.)
        </li>
</ul>

<h2>Technical Staff</h2>
<ul>
        <li>Mr. Anup Sarkar</li>
</ul>

<h2>Office Staff</h2>
<ul>
        <li>Mr. Ashish Dutta</li>
        <li>Mr. Sanjit Roy</li>
        <li>Mrs. Purabi Nandi</li>
        <li>Mr. Amit Das (Casual)</li>
        <li>Mr. Sandip Das -DO</li>
        <li>Mr. Atindra Bala - DO</li>
        <li>Ms. Urmila Basfore - DO</li>
</ul>

{% endblock %}
